In [1]:
import numpy as np
import pandas as pd

In [72]:
data = {'unit price':[1000, 280, 900],
        'number':[25, 120,30]}
data_index = ['store1', 'store2', 'store3']

In [73]:
df = pd.DataFrame(data, index = data_index)
print(df)

        unit price  number
store1        1000      25
store2         280     120
store3         900      30

In [74]:
total_prices = df["unit price"] * df["number"]
df["total price"] = total_prices
print(df)

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

In [71]:
df[df['total price'] == df['total price'].max()]

        unit price  number  total price
store2         280     120        33600